# Nuxt build/dev
.nuxt
.output
.nitro
.cache
dist

# Node
node_modules

# Local junk
dev
nuxt
body.json

# IDE / OS
.vscode
.idea
.fleet
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env
.env
.env.*
!.env.example
